{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}
    <div class="d-flex flex-column pt-4 align-items-center">
        {% if user.is_authenticated %}

            <form method="post" action="{% url 'login' %}" class="w-50">
            {% csrf_token %}
                <section class="mt-5" style="background-color: white">
                  <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;">
                          <div class="card-body p-5 text-center">
                            <h3 class="mb-5">Add Funds to Account</h3>
                            <div class="form-outline mb-3">
                              <label for="typeNumber">Amount to Add ($)</label>
                            </div>
                              <input value="0.0" type="number" id="typeNumber" class="form-control" />
                              {{ form.as_p }}
                            <button class="btn btn-primary btn-lg btn-block mt-3" type="submit">Add Funds</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </section>
</form>

        {% else %}
            <h3>To Add Funds, Please
              <a href="{% url 'login' %}">Login</a>
              or
              <a href="{% url 'register' %}">Register</a>
              for an Account.
            </h3>

        {% endif %}


    </div>

{% endblock %}
</body>
</html>