{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}

    <div class="d-flex flex-column pt-4 align-items-center"> <!--start flex-->
        <h1 class="display-4 pb-2">Welcome to my Portfolio Home Page</h1>

    </div>

{% endblock %}
</body>
</html>